@{
    ViewData["Title"] = "Crear Categoria";
}

<form asp-controller="Categorias" asp-action="Post" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre de Categoria:</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Por ejemplo: Tareas personales" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
